version: '3.7'

networks:
  tuder: {}

services:
  database:
    image: postgres:15
    restart: always 
    volumes:
      - database-storage:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tuder
      POSTGRES_USER: user
    ports:
      - 5432:5432
    networks:
      - tuder

volumes:
  database-storage:


